body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ol,
ul {
  list-style: none;
}

.btn {
  display: block;
  margin: 20px auto;
}

.user-avatar {
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  margin: auto 12px;
}

.user-info-box {
  margin: 20px 0;
}

.user-game-status {
  margin: 5px;
}